* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.maxBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.maxBox .leftBox {
  padding: 36px 0 0 0;
  width: 0;
  flex: 2;
  background: #145372;
  transition: all 0.3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: auto;
}
.maxBox .leftBox::-webkit-scrollbar {
  display: none;
}
.maxBox .leftBox .user {
  width: 100%;
  overflow: hidden;
}
.maxBox .leftBox .user .portrait {
  margin: 0 auto;
  width: 150px;
  height: 200px;
}
.maxBox .leftBox .user .portrait img {
  width: 100%;
  height: 100%;
}
.maxBox .leftBox .user .name {
  width: 200px;
  border-radius: 16px;
  font-size: 16px;
  text-align: center;
  background: #6893A6;
  margin: 12px auto;
  padding: 6px 0;
}
.maxBox .leftBox .user .name span {
  color: #fff;
  display: block;
}
.maxBox .leftBox .listBox {
  overflow: hidden;
  padding-top: 15px;
  opacity: 1;
  transition: all 0.1s;
}
.maxBox .leftBox .listBox .list {
  width: 100%;
}
.maxBox .leftBox .listBox .list ul li {
  width: 100%;
  padding-left: 24px;
  box-sizing: border-box;
  margin-top: 8px;
  font-size: 15px;
  line-height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.maxBox .leftBox .listBox .list ul li img {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 2px;
  color: #fff;
}
.maxBox .leftBox .listBox .list ul li a {
  display: inline-block;
  text-decoration: none;
  padding-left: 30px;
  color: #D9D9D9;
  transition: all 0.5s;
  box-sizing: border-box;
}
.maxBox .leftBox .listBox .list ul li a span {
  margin-left: 10px;
}
.maxBox .leftBox .listBox .list ul li .hid {
  display: block;
  width: 100%;
  height: 100%;
  background: #6893A6;
  transition: all 0.3s;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: -1;
}
.maxBox .leftBox .listBox .list ul li:hover a {
  color: #fff;
}
.maxBox .leftBox .listBox .list ul li:hover .hid {
  left: 0;
}
.maxBox .leftBox .listBox .list ul .listBtn ul {
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
.maxBox .leftBox .listBox .list ul .listBtn ul li {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
.maxBox .leftBox .listBox .list ul .listBtn ul li a {
  padding: 0;
  width: 100%;
}
.maxBox .leftBox .listBox .list ul .listBtn ul li:hover {
  background: #5A8CA1;
}
.maxBox .leftBox .listBox .list ul .listBtn:hover ul li {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.maxBox .rightBox {
  flex: 13;
  background: linear-gradient(90deg, #6893A6, #fff);
  position: relative;
  padding: 48px 0 0 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.maxBox .rightBox .index {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.maxBox .rightBox .index .indexL {
  width: 30px;
  height: 100%;
  float: left;
  line-height: 100%;
  color: #fff;
  background: #333;
}
.maxBox .rightBox .sclBox {
  width: 10px;
  height: 100%;
  background: #fff;
  position: fixed;
  right: 5px;
  top: 0;
}
.maxBox .rightBox .sclBox .bar {
  border-radius: 6px;
  background: #145372;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  cursor: pointer;
}
.maxBox .rightBox .BTN {
  width: 40px;
  height: 40px;
  background: url(../img/button.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.maxBox .rightBox .bigbox {
  height: 100%;
  overflow: auto;
  position: relative;
}
.maxBox .rightBox .bigbox::-webkit-scrollbar {
  display: none;
}
.maxBox .rightBox .bigbox .textBox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
