
*{
	margin: 0;
	padding: 0;
	list-style: none;
}

/*body{
	width: 100%;
	overflow: hidden;
}*/

.bigbox{
	width: 100%;
	overflow: hidden;
}


/*导航条*/
.navbox{
	width: 100%;
	height: 120px;
}
.nav{
	margin: 0 auto;
	width: 1200px;
	height: 120px;
}
.logo{
	width: 490px;
	height: 120px;
	background: url(../img/ABUIABAEGAAg_vzQ3gUox5H89AUwlwg4ygI.png) no-repeat left 28px;
	background-size: 260px 80px;
	float: left;
}
.logo span{
	font-size: 22px;
	float: right;
	margin-top: 64px;
	margin-right: 58px;
}

.nav ul{
	width: 710px;
	height: 120px;
	float: left;
}
.nav ul li{
	width: 140px;
	height: 120px;
	margin-right: 2px;
	float: left;
}
.nav ul li a{
	display: inline-block;
	width: 140px;
	height: 120px;
	text-decoration: none;
	color: #323232;
	text-align: center;
	line-height: 120px;
}
.nav ul li a.con{
	background: #FF663A;
	color: #fff;
}
.nav ul li a:hover{
	background: #FF663A;
	color: #fff;
}

/*导航条*/


/*底部部分*/
.fooder_box{
	width: 100%;
	overflow: hidden;
	background: #2D2D2D;
}
.fooder_div1{
	width: 1200px;
	height: 234px;
	margin: 0 auto;
	position: relative;
}
.fooder_img1,.fooder_img2,.fooder_img3{
	width: 50px;
	height: 50px;
	top: 36px;
}
.fooder_img1{
	background: url(../img/AD0Iu_ufBxAEGAAg6drLzwUojPKl6gcwMjgy.png) no-repeat center;
	position: absolute;
	left: 82px;
}
.fooder_img2{
	background: url(../img/AD0Iu_ufBxAEGAAg7drLzwUotoT08wQwMjgy.png) no-repeat center;
	position: absolute;
	left: 506px;
}
.fooder_img3{
	background: url(../img/AD0Iu_ufBxAEGAAg8NrLzwUortDrqwUwMjgy.png) no-repeat center;
	position: absolute;
	left: 904px;
}
.span1,.span2,.span3{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/AD0Iu_ufBxAEGAAgmtvLzwUo_LmkqQcwHjgf.png) no-repeat center;
	position: absolute;
	top: 46px;
}
.span1{
	left: 120px;
}
.span2{
	left: 546px;
}
.span3{
	left: 944px;
}
.fooder_txt1,.fooder_txt2,.fooder_txt3{
	width: auto;
	height: auto;
	float: left;
	color: #fff;
	position: absolute;
	top: 44px;
}
.fooder_txt1{
	left: 146px;
}
.fooder_txt2{
	left: 576px;
}
.fooder_txt3{
	left: 970px;
}

.xian{
	background: url(../img/AD0Iu_ufBxAEGAAgmdvLzwUo8PeZ3wMwhgg4Hg.png) repeat-x center;
	width: 1032px;
	height: 10px;
	position: absolute;
	top: 114px;
	left: 86px;
}
.fooder_btn{
	width: 666px;
	height: 20px;
	padding: 40px 246px 56px 288px;
	position: absolute;
	bottom: 0;
	color: #999999;
}
.fooder_btn a{
	display: inline-block;
	color: #999999;
	text-decoration: none;
	font-size: 14px;
	margin-right: 40px;
}
.fooder_btn span{
	display: inline-block;
	margin-right: 40px;
}

.fooder_div2{
	width: 100%;
	height: 136px;
	background: #232625;
}
.fooder_div2txt{
	width: 1200px;
	height: 102px;
	margin: 0 auto;
	padding-top: 34px;
}
.fooder_div2txt p{
	font-size: 14px;
	color: #999999;
	text-align: center;
}
.div2txt_a{
	text-align: center;
	height: 22px;
	line-height: 20px;
	padding-bottom: 2px;
}
.div2txt_a a{
	color: #999999;
	font-size: 14px;
	text-decoration: none;
}
.div2txt_a a:hover{
	color: #fff;
}
.div2txt_a a:hover i{
	background: url(../img/fooder_btm2.jpg) no-repeat center 4px;
}
.div2txt_a a i{
	display: inline-block;
	margin: 0px 2px 0 2px;
	width: 20px;
	height: 20px;
	background: url(../img/fooder_btm.jpg) no-repeat center 4px;
}
.div2txt_a span{
	color: #999999;
	margin: 0 4px;
	font-size: 14px;
}
.div2txt_a font{
	color: #999999;
	font-size: 14px;
}
/*底部部分*/



/*回到顶部*/
.top{
	width: 50px;
	height: 50px;
	background: url(../img/05.png) no-repeat center;
	position: fixed;
	right: 40px;
	bottom: 50px;
	opacity: 1;
}
.top a{
	display: inline-block;
	width: 50px;
	height: 50px;
}
/*回到顶部*/
