.phonetop_img{
	width: 1200px;
	height: 300px;
	margin-bottom: 72px;
}

/*中部内容*/
.main_box{
	width: 1200px;
	height: 684px;
	margin: 0 auto;
	margin-bottom: 90px;
}
.main_div1{
	width: 1200px;
	height: 384px;
}
.div1_l{
	width: 544px;
	height: 384px;
	float: left;
}
.div1_r{
	width: 656px;
	height: 384px;
	float: left;
	overflow: hidden;
}
.main_div1 .div1_l .l_top {
	width: 544px;
	height: 45px;
	border-bottom: 1px solid #EAEAEA;
}
.main_div1 .div1_l .l_top span{
	display: inline-block;
	height: 45px;
	padding: 0 10px;
	font-size: 16px;
	line-height: 45px;
	border-bottom: 1px solid #F13D3D;
	box-sizing: border-box;
	color: #F13D3D;
}
.l_txt{
	width: 508px;
	height: 94px;
	padding-left: 36px;
	margin-top: 4px;
}
.l_txt span{
	display: block;
	font-size: 16px;
	color: #666666;
	height: 30px;
	line-height: 30px;
}
.l_ma{
	width: 448px;
	height: 240px;
	float: left;
	padding-right: 96px;
}
.l_ma ul{
	width: 448px;
	height: 240px;
}
.l_ma ul li{
	width: 224px;
	height: 240px;
	float: left;
}
.l_ma ul li .li_ma{
	padding: 28px 28px 0 36px;
	width: 160px;
	height: 160px;
}
.l_ma ul li span{
	display: block;
	width: 160px;
	margin-left: 36px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}
.r_top{
	width: 584px;
	height: 46px;
	padding-left: 72px;
	line-height: 50px;
	font-size: 14px;
	color: #666666;
}
.r_inp{
	width: 594px;
	height: 324px;
	padding-top: 12px;
	padding-left: 88px;
	font-size: 14px;
	color: #666666;
	position: relative;
}
.r_inp input{
	width: 188px;
	height: 32px;
	border: 1px solid #DADADA;
	margin: 10px 58px 10px 0;
	font-size: 14px;
	text-indent: 6px;
	border-radius: 2px;
}
.inp_nei{
	margin-top: 10px;
	width: 568px;
}
.inp_nei textarea{
	width: 244px;
	height: 56px;
	border-color: #dadada;
	resize:none;
	font-size: 12px;
	padding: 8px;
	/*border-radius: 2px;*/
}
.inp_nei div{
	height: 64px;
	line-height: 64px;
	margin-right: 4px;
	float: left;
}
.r_inp span{
	display: inline-block;
	width: 24px;
	height: 32px;
	line-height: 32px;
	color: #FF0000;
	position: absolute;
	top: 24px;
	left: 334px;
}
.ti{
	width: 230px;
	height: 44px;
	margin-left: 46px;
	margin-top: 34px;
	background: #F55151;
	line-height: 44px;
	text-align: center;
}
.ti a{
	text-decoration: none;
	color: #fff;
}
/*中部内容*/