

.main_box1{
	width: 100%;
	height: 300px;
}
.box1_box{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}
.box1_box p{
	line-height: 30px;
	font-size: 16px;
	color: #666666;
	text-indent: 2em;
	margin-bottom: 30px;
}
.box1_box h1{
	text-align: center;
	height: 124px;
	line-height: 124px;
	font-size: 24px;
}


/*中部大图片*/
.main_img{
	width: 100%;
	height: 600px;
	margin-bottom: 35px;
}
.imgbox{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
.imgbox p{
	line-height: 30px;
	font-size: 16px;
	color: #666666;
	text-indent: 2em;
	margin-bottom: 30px;
}
.imgbox img{
	margin-bottom: 40px;
}
/*中部大图片*/

/*中部内容2*/
.mian_box3{
	width: 100%;
	height: 574px;
}
.box3_box{
	margin: 0 auto;
	width: 1200px;
	height: 500px;
	padding-top: 74px;
}
.box3_box h2{
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #363636;
	margin-bottom: 16px;
}
.box3_box h4{
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: #999999;
	margin-bottom: 40px;
}
.box3_box .box3_div2{
	width: 1200px;
	height: 442px;
}
.box3_box .box3_div2 ul{
	width: 1010px;
	height: 442px;
	margin: 0 auto;
}
.box3_box .box3_div2 ul li{
	width: 336px;
	height: 442px;
	float: left;
	background: url(../img/AD0Iu_ufBxAEGAAg-trLzwUomMaX2QIwdDh0.png) no-repeat center 38px;
}
.box3_box .box3_div2 ul li .li_img1,.box3_box .box3_div2 ul li .li_img2,.box3_box .box3_div2 ul li .li_img3{
	width: 336px;
	height: 190px;
}
.box3_box .box3_div2 ul li .li_img1{
	background: url(../img/AD0Iu_ufBxAEGAAgkNvLzwUo3M78zwYwUDhQ.png) no-repeat center;
}
.box3_box .box3_div2 ul li .li_img2{
	background: url(../img/AD0Iu_ufBxAEGAAgktvLzwUogMfmuwMwUDhQ.png) no-repeat center;
}
.box3_box .box3_div2 ul li .li_img3{
	background: url(../img/AD0Iu_ufBxAEGAAglNvLzwUo18KJYDBQOFA.png) no-repeat center;
}
.box3_box .box3_div2 ul li h2{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #363636;
	text-align: center;
	font-weight: normal;
}
.box3_box .box3_div2 ul li p{
	line-height: 40px;
	font-size: 12px;
	text-align: center;
	color: #999999;
}
/*中部内容2*/